.app-container {
  /* max-width: 1360px; */
  display: flex;
  margin: auto;
  flex-direction: column;
  font-family: "DM Sans";
  width: 327px;
}

@media (min-width: 600px) {
  .app-container {
    width: 552px;
  }
}

@media (min-width: 1024px) {
  .app-container {
    width: 936px;
  }
}

@media (min-width: 1441px) {
  .app-container {
    width: 1360px;
  }
}