.app-container {
  display: flex;
  margin: auto;
  flex-direction: column;
  font-family: "DM Sans";
  padding-left: 24px;
  padding-right: 24px;
  width: calc(100%-48px);
}

@media (min-width: 600px) {
  .app-container {
    display: flex;
    padding-left: 0px;
    padding-right: 0px;
    width: 552px;
  }
}

@media (min-width: 1024px) {
  .app-container {
    width: 936px;
  }
}

@media (min-width: 1441px) {
  .app-container {
    width: 1360px;
  }
}