:root {
  --color-primary: #3D61D6;
  --color-dark: #020f3c;
  --color-primary-dark: #122B7D;
  --color-dark-80: #020F3CCC;
  --color-dark-15: #020f3c26;
  --color-dark-10: #020F3C1A;
  --color-white: white;

  --fontsize-2xl: 28px;
  --fontsize-xl: 22px;
  --fontsize-lg: 18px;
  --fontsize-md: 16px;
  --fontsize-sm: 14px;
  --fontsize-xs: 12px;
}

@media (min-width: 600px) {
  :root {
    --fontsize-2xl: 28px;
    --fontsize-xl: 22px;
    --fontsize-lg: 18px;
    --fontsize-md: 16px;
    --fontsize-sm: 14px;
    --fontsize-xs: 12px;
    --fontsize-xxs: 10px;
  }
}

@media (min-width: 1024px) {
  :root {
    --fontsize-2xl: 42px;
    --fontsize-xl: 33px;
    --fontsize-lg: 27px;
    --fontsize-md: 16px;
    --fontsize-sm: 14px;
    --fontsize-xs: 12px;
    --fontsize-xxs: 10px;
  }
}

@media (min-width: 1441px) {
  :root {
    --fontsize-2xl: 64px;
    --fontsize-xl: 52px;
    --fontsize-lg: 44px;
    --fontsize-md: 20px;
    --fontsize-sm: 16px;
    --fontsize-xs: 12px;
    --fontsize-xxs: 10px;
  }
}
